html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    background: url("../images/bg.jpg") no-repeat fixed center;
}

.one {
    width: 100px;
    height: 100px;
    background-color: aqua;
}

.two {
    width: 100px;
    height: 100px;
    background-color: brown;
}