div {
    margin: 10px auto;
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    line-height: 200px;
    text-align: center;
}
p {
    color: darkmagenta;
}
p:nth-of-type(even){
    color: chartreuse;
}